@page
@model FitnessTracker.Pages.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>LogEntryData</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LogEntryData.Date" class="control-label"></label>
                <input type="date" asp-for="LogEntryData.Date" class="form-control" />
                <span asp-validation-for="LogEntryData.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogEntryData.ExerciseName" class="control-label"></label>
                <input asp-for="LogEntryData.ExerciseName" class="form-control" />
                <span asp-validation-for="LogEntryData.ExerciseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogEntryData.ExerciseId" class="control-label"></label>
                <input asp-for="LogEntryData.ExerciseId" class="form-control" />
                <span asp-validation-for="LogEntryData.ExerciseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogEntryData.Sets" class="control-label"></label>
                <input asp-for="LogEntryData.Sets" class="form-control" />
                <span asp-validation-for="LogEntryData.Sets" class="text-danger"></span>
            </div>
            <div class="form-group" id="timeFieldContainer">
                <label asp-for="LogEntryData.Time" class="control-label"></label>
                <input asp-for="LogEntryData.Time" class="form-control" id="timeField"/>
                <span asp-validation-for="LogEntryData.Time" class="text-danger"></span>
            </div>
            <div class="form-group" id="repsFieldContainer">
                <label asp-for="LogEntryData.Reps" class="control-label"></label>
                <input asp-for="LogEntryData.Reps" class="form-control" id="repsField"/>
                <span asp-validation-for="LogEntryData.Reps" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LogEntryData.IsTimeBasedExercise" onchange="timeToggleChanged(this.checked)" id="timeToggle" /> @Html.DisplayNameFor(model => model.LogEntryData.IsTimeBasedExercise)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function timeToggleChanged(isChecked)
        {
            if(isChecked)
            {
                document.getElementById("timeFieldContainer").style.display = "block";
                document.getElementById("repsFieldContainer").style.display = "none";
            }
            else
            {
                document.getElementById("repsFieldContainer").style.display = "block";
                document.getElementById("timeFieldContainer").style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            var isChecked = document.getElementById("timeToggle").checked;
            timeToggleChanged(isChecked);
        });
    </script>
}
