@page
@model ExerciseSearchModel
@{
    ViewData["Title"] = "ExerciseSearch";
}
<h1>@ViewData["Title"]</h1>

<div>
    <form id="searchBar" method="post">
        <input type="search" />
        <input type="button" value="Submit" onclick="" />
    </form>
</div>
